.chat-link {
  text-decoration: underline;
}

.white {
  background: #000;
  color: #FFF;
  text-shadow: none;
}

.white a {
  color: #E9967A !important;
  text-shadow: none !important;
}

.white .active > a {
  border-bottom-color: #E9967A !important;
}
